Camelot==12.6.29
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cryptography==44.0.0
cssselect==1.2.0
decorator==5.1.1
Elixir==0.7.1
Jinja2==3.1.5
lxml==5.3.0
MarkupSafe==3.0.2
numpy==2.2.2
pandas==2.2.3
pbr==6.1.0
pdfminer.six==20240706
pdfquery==0.4.3
pycparser==2.22
PyPDF2==3.0.1
pyquery==2.0.1
python-dateutil==2.9.0.post0
pytz==2025.1
roman==5.0
six==1.17.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.3
Tempita==0.6.0
tzdata==2025.1
xlrd==0.7.1
xlwt==0.7.2
camelot-py==1.0.0
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
cssselect==1.2.0
decorator==5.1.1
Elixir==0.7.1
et_xmlfile==2.0.0
hsbcpdf-sinopsys==0.3.2
hsbcpdfscraper-sinopsys==0.0.2
Jinja2==3.1.5
lxml==5.3.0
MarkupSafe==3.0.2
numpy==2.2.2
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
pandas==2.2.3
pbr==6.1.0
pdfminer.six==20240706
pdfquery==0.4.3
pycparser==2.22
pypdf==3.17.4
PyPDF2==3.0.1
pypdfium2==4.30.1
pyquery==2.0.1
python-dateutil==2.9.0.post0
pytz==2025.1
roman==5.0
six==1.17.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.3
tabulate==0.9.0
Tempita==0.6.0
typing_extensions==4.12.2
tzdata==2025.1
xlrd==0.7.1
xlwt==0.7.2
