camelot-py==1.0.0
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.1
cssselect==1.2.0
et_xmlfile==2.0.0
lxml==5.3.1
numpy==2.2.3
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
pandas==2.2.3
pdfminer.six==20240706
pdfquery==0.4.3
pycparser==2.22
pypdf==3.17.4
PyPDF2==3.0.1
pypdfium2==4.30.1
pyquery==2.0.1
python-dateutil==2.9.0.post0
pytz==2025.1
roman==5.0
six==1.17.0
tabulate==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
